.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.card__item {
  margin-left: 30px;
  margin-bottom: 30px;
  background-color: #fff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 12%), 0px 1px 1px rgba(0, 0, 0, 14%),
    0px 2px 1px rgba(0, 0, 0, 20%);
  border-radius: 5px 5px 4px 4px;

  flex-basis: calc(100% / 4 - 30px);
  width: 280px;
}

.link {
  text-decoration: none;
}

.title {
  text-align: center;
}
